# -----------------------------
# Global
# -----------------------------
DEVMODE_BIND_HOST=0.0.0.0
DEVMODE_STATE_ROOT=~/.local/run
DEVMODE_SETUP_CREATE_DEFAULT_USERS=true
DEVMODE_DEFAULT_ADMIN_USER=admin
DEVMODE_DEFAULT_ADMIN_PASSWORD=admin123
DEVMODE_AUTO_GENERATE_CERTS=true
DEVMODE_CERT_DAYS=3650
DEVMODE_CERT_COUNTRY=US
DEVMODE_CERT_STATE=Dev
DEVMODE_CERT_LOCALITY=Dev
DEVMODE_CERT_ORG=Devmode
DEVMODE_CERT_ORG_UNIT=Engineering
DEVMODE_CERT_COMMON_NAME=localhost
DEVMODE_TEST_PROXY_HOST=127.0.0.1
DEVMODE_TEST_HTTP_URL=http://github.com/
DEVMODE_TEST_HTTPS_URL=https://github.com/

# Optional venv activate path used by setup.sh / setup_and_test.sh
DEVMODE_VENV_ACTIVATE=

# -----------------------------
# Devmode1 : HTTP + auth
# -----------------------------
DEVMODE1_ENABLED=true
DEVMODE1_HOST=${DEVMODE_BIND_HOST}
DEVMODE1_PORT=0
DEVMODE1_REPLICAS=1
DEVMODE1_AUTH_ENABLED=true

# -----------------------------
# Devmode2 : HTTPS + auth
# -----------------------------
DEVMODE2_ENABLED=true
DEVMODE2_HOST=${DEVMODE_BIND_HOST}
DEVMODE2_PORT=0
DEVMODE2_REPLICAS=1
DEVMODE2_AUTH_ENABLED=true
DEVMODE2_TLS_CERT=ssl/certs/zayflow/fullchain.pem
DEVMODE2_TLS_KEY=ssl/certs/zayflow/private.key

# -----------------------------
# Devmode3 : HTTP + no auth
# -----------------------------
DEVMODE3_ENABLED=true
DEVMODE3_HOST=${DEVMODE_BIND_HOST}
DEVMODE3_PORT=0
DEVMODE3_REPLICAS=1
DEVMODE3_AUTH_ENABLED=false

# -----------------------------
# Devmode4 : HTTPS + no auth
# -----------------------------
DEVMODE4_ENABLED=true
DEVMODE4_HOST=${DEVMODE_BIND_HOST}
DEVMODE4_PORT=0
DEVMODE4_REPLICAS=1
DEVMODE4_AUTH_ENABLED=false
DEVMODE4_TLS_CERT=certs/devmode4.crt
DEVMODE4_TLS_KEY=certs/devmode4.key

# -----------------------------
# Devmode5 : tunnel to another server
# -----------------------------
DEVMODE5_ENABLED=false
DEVMODE5_HOST=${DEVMODE_BIND_HOST}
DEVMODE5_PORT=0
DEVMODE5_REPLICAS=1
DEVMODE5_AUTH_ENABLED=false
DEVMODE5_UPSTREAM_URL=http://127.0.0.1:8080
DEVMODE5_UPSTREAM_USERNAME=
DEVMODE5_UPSTREAM_PASSWORD=
